img.latest-img
{
    width: 100%;
    overflow: hidden;
    object-fit: fill;
    opacity: 0.8;
    position: absolute;
}
div.latest-container
{
    width:100%;
    height: 100%;
    position: relative;
}

img.latest-img-overlay
{
    height: 100%;
    overflow: hidden;
    object-fit: fill;
    object-position: bottom;
    position: absolute;
    bottom:0;
    left: 32%;
    transform-origin: 50% 50%;
}

div.latest-container > div.latest-title
{
    width: 100%;
    
    position: absolute;
    height:100%;
    
    background: rgba(0, 0, 0, 0);
}

div.latest-overlay
{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    opacity:0;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    width:100%;
    height: 100%;
    position: absolute;
}

div.latest-container:hover > div.latest-overlay
{
    opacity: 0.5;
}

div.latest-container > div.latest-title > h3
{
    font-family: 'IBM-Plex-Mono';
    margin:0;
    padding:0;
    color: var(--primary-text-color);
    font-size: 3vw;
    padding-top: 12vw;
    vertical-align:text-bottom;
    text-align: center;
    opacity:0;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    font-style: oblique;
}

div.latest-container:hover > div.latest-title
{
    background: rgba(0, 0, 0, 0.4);
}

div.latest-container:hover > div.latest-title > h3
{
    opacity:1;
}