@charset "UTF-8";
/*SECTION HEADER*/
:root
{
    /*default values*/
    --section-head-height: 5vw;
    --section-head-fontsize: 4vw;
    --section-body-height: 30vw;
}
.section-head
{
    
    /*div element*/
    width: 100%;
    height: var(--section-head-height);
    display: block;
    
    /*background technically counts as gradient but this saves empty div usage*/
    background: linear-gradient(270deg, var(--secondary-color) 0%, var(--secondary-color) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.section-head > h2
{
    /*text inside header*/
    margin: 0;
    
    text-align: center;
    color: var(--primary-text-color);
    font-family: 'IBM-Plex-Mono';
    font-size: var(--section-head-fontsize);
    height: var(--section-head-height);
}

.section-head > h2::before
{
    /*section hover animation*/
    content: "#";
    
    opacity: 0.2;
    transition: opacity 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    position: absolute;
    transform: translateX(-100%);
    
    
}
.section-head:hover > h2::before
{
    /*actual hover anim*/
    opacity:1;
    transform: translateX(-125%);
}

.section-head > h2::after
{
    /*text to right upon hover*/
    font-size: calc(var(--section-head-fontsize)*0.3);
    
    vertical-align: middle;
    text-align:left;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    position: absolute;
    transform: translateY(1.75vw);
    margin:0;
    padding-left: 3%;
}

.section-head.beforeclick > h2::after
{
    /*on hover, original text*/
    content: "- click to copy to clipboard!";
}

.section-head.afterclick > h2::after
{
    /*text after click*/
    content: "- link copied!";
}

.section-head:hover > h2::after
{
    /*face in on hover*/
    opacity: 1;
}




/*SECTION BODY*/

.section-body
{
    /*section body*/
    width: 100%;
    height: var(--section-body-height);
    display: block;
    
}


.section-body > div.half-section
{
    /*left section*/
    width:50%;
    height: 100%;
    float: left;
}
.section-body > div.half-section h3
{
    /*title of section*/
    font-size: calc(var(--section-head-fontsize) * 0.75);
    text-align: left;
    color: var(--primary-text-color);
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    margin-left: 20%;
    width: 50%;
    font-family: 'Space-Mono';
    
}
.section-body div.section-title
{
    /*title div (relative spacing)*/
    width: 100%;
    height: 20%;
}
.section-body div.section-title h3::after
{
    /*line after section*/
    content:"";
    display: inline-block;
    position: relative;
    background-color: white;
    width: calc(var(--section-head-fontsize));
    transform: translateY(calc(var(--section-head-fontsize) * -0.25));
    height: 0.25vw;
}
.section-body div.section-bodytext
{
    /*body section*/
    width: 100%;
    height: 70%;
}
.section-body > div.half-section h3 > span
{
    /*first word gets underlined*/
    text-decoration-line: underline;
}
.section-body > div.half-section p
{
    /*regular paragraph*/
    font-size: calc(var(--section-head-fontsize) * 0.35);
    
    color: var(--primary-text-color);
    padding: 0;
    margin:0;
    margin-left: 20%;
    width: 70%;
    font-family: 'IBM-Plex-Mono';
    
}

.section-body > div.half-section p > span.emph
{
    text-decoration: underline;
    text-decoration-thickness: calc(var(--section-head-fontsize) * 0.01);
    text-decoration-style: wavy;
}
