:root
{
    --section-height: 40vw;
}

.section-body
{
    display:grid;
    background-color: black;
}
.section-body.halfwidth
{
    width: 50%;
}
.section-body.fullwidth
{
    width: 100%;
}
.section-body.thirdwidth
{
    width: 33.333%;
}
.section-body.twothirdswidth
{
    width: 66.667%;
}

.section-body.fullheight
{
    height: var(--section-height);
}

.section-body.halfheight
{
    height: calc(var(--section-height)*0.5);
}

.section-body.doubleheight
{
    height: calc(var(--section-height)*2);
}