<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Zach ("binarie")</title>

    <!--Reference all CSS files (with relative paths) -->
    <link rel="stylesheet" href={{ cssInfo.header }}>
    <link rel="stylesheet" href={{ cssInfo.default }}>
    <link rel="stylesheet" href={{cssInfo.section}}>

    <!--Reference all Javascript files (with relative paths)-->
    <script src={{ jsInfo.menubar }}></script>
    <script src={{ jsInfo.linkto }}></script>
    <script src={{ jsInfo.p5 }}></script>
</head>
<body>
    {% include 'bg_ref.html' %}
    {% include 'menubar_ref.html' %}
    {{ content | safe }}
</body>
</html>