<div class="section">
    <ul>
        <li>
            <p><a href={{ nav.home }}>home</a></p>
        </li>
        <li>
            <p><a href={{ nav.about }}>about</a></p>
        </li>
        <li>
            <p><a href={{ nav.projects }}>projects</a></p>
        </li>
        <li>
            <p><a href={{ nav.commissions }}>jobs/commisions</a></p>
        </li>
        <li>
            <p><a href={{ nav.mail }}>contact me</a></p>
        </li>
    </ul>
    <br>
    <ul>
        <li>
            <p><a href={{ nav.mail }}>email</a></p>
        </li>
        <li>
            <p><a href={{ links.LinkedIn }}>linkedin</a></p>
        </li>
        <li>
            <p><a href={{ links.osu }}>osu</a></p>
        </li>
        <li>
            <p><a href={{ links.BlueSky }}>bluesky</a></p>
        </li>
    </ul>
</div>