<!--MENUBAR-->
<div id="menubar">
    <div class="std-element">
        <p><a id="logo" onmouseover="animateLogoText(true)" onmouseleave="animateLogoText(false)" href={{ nav.home }}>0010</a></p>
    </div>
    <div class="std-element">
        <p><a href={{ nav.about }}>About</a></p>
    </div>
    <div class="std-element">
        <p><a href={{ nav.projects }}>Projects</a></p>
    </div>
    <div class="std-element">
        <p><a href={{ nav.commissions }}>Commissions</a></p>
    </div>
    <div class="std-element">
        <p><a href="mailto:zach@binarie.us">Contact me!</a></p>
    </div>
</div>