<!--Macro for each section header-->
{% macro linkableSection(name) %}
<div class="section-head beforeclick" id="{{ name }}" onmouseenter="setLinkAfterElement('{{name}}')" onclick="LinkTo('{{name}}')">
    <h2>{{name}}</h2>
</div>
{% endmacro %}

{% macro textSection(text)%}
<div>
    <p class=norm-text>
        {{text}}
    </p>
</div>
{% endmacro %}

{% macro linkTo(url, text)%}
<a href={{url}} class="norm-text">
    {{text}}
</a>
{% endmacro %}