body
{
    margin: 0;
    padding:0;
    display: block;
    background-color: black;
}
body > *
{
    overflow: hidden;
}

:root
{
    --primary-color: rgb(82, 82, 252);

    --tertiary-color: black;

    --primary-text-color: white;

    --secondary-text-color: black;
}

/*The font face for the header.*/
@font-face {
    font-family: "Space-Mono";
    src: url("../fonts/SpaceMono.ttf");
}

/*The font face for the titles*/
@font-face {
    font-family: "IBM-Plex-Mono";
    src: url("../fonts/IBMPlexMono-ExtraLight.ttf");
}