---
layout: base.njk
---

{%- from "section_ref.njk" import linkableSection, textSection, linkTo -%}
{%- from "bg_ref.njk" import bg -%}

{{ bg("splash") }}

{{ linkableSection("about_me") }}

<div>
    <p class=norm-text>
        I have been surrounded by games my whole life. From owning a Wii to a 3DS to my computer, 
        I have been obsessed with understanding what parts of games that I find fun and understanding 
        the ins and outs of game design.
        <br><br>
        I also took a bit of a passion in Graphic Design from my high school arts courses, which I think
        greatly reflects what I consider to be my form of expression.
    </p>
</div>

{{ linkableSection("osu") }}
<div>
    <p class=norm-text>
        I started truly playing osu! back in May of 2021, when my graphics card sadly started failing because of a BIOS problem.
        I stopped playing for a while, but picked it up again to start mapping in 2022.
        <br><br>
        I started making osu! storyboards in June 2022, then swapped to using storybrew and C# coding for my storyboards in September.
        I found it a lot of fun to be able to code and instantly see results, which is why I continue to still make storyboards to this day.
    </p>
</div>

{{ linkableSection("my_goals")}}

<div>
    <p class=norm-text>
        I strive to be able to make engaging and visually stunning artworks and videos, both in my career and in osu!.
        
    </p>
</div>