---
layout: base.njk
---

{%- from "section_ref.njk" import linkableSection, textSection, linkTo -%}
{%- from "bg_ref.njk" import bg -%}
{%- from "project.njk" import project -%}

{{ bg("commissions") }}

{{ linkableSection("jobs")}}
<div class="body-section">
    <p class="norm-text center-text">
        These are all the works I have been commissioned for, just for clarity.
    </p>
</div>

{{ project("Krimek - Ashen Souls (feat. eili and AKA)", "https://osu.ppy.sh/beatmapsets/2403912#osu/5214139", "false")}}

{{ project("Tatsh - IMAGE REBORN -DIVINITY-", "https://osu.ppy.sh/beatmapsets/2022551#osu/4212498", "true")}}

{{ linkableSection("commissions")}}
<div class="body-section">
    <p class="norm-text center-text">
        My prices vary between commissions depending on what the original offer is and based on the song, so <a href={{nav.mail}}>contact me</a> if you want to get a quote for a storyboard!
    </p>
</div>