---
layout: base.njk
---
{%- from "section_ref.njk" import linkableSection, textSection, linkTo -%}
{%- from "bg_ref.njk" import bg -%}

{{ bg("splash") }}

{{ linkableSection("hello") }}


<div>
    <p class=norm-text>
        My name is Zach (alias: binarie) and I am a Game Designer and Developer based out of {{ selfData.location }}. 
        I love everything coding and design. Currently, I am a part of the osu!design team, helping to make animated 
        music videos! You can check those out on my <a class=norm-text href={{ nav.projects}}><u>projects</u></a> page!
    </p>
</div>